#result {
  background-color: black;
  text-align: start;
  margin: 2% 0% 2%;
  border-left: solid;
  border-top: solid;
  border-color: #1DB953;
  border-width: 5px;
  padding: 5px;
  height: 100px;
}

#info-basic {
  margin: 0% 2% 0%;
  position: absolute;
  display: inline-block;
}

#result:hover {
  border-color: white;
  height: 200px;
}

#resultDetail {
  margin-top: 15%;
}

#albumArt {
  width: 80px;
  height: 80px;
}
